<body>
  
><div class="container">
  <div class="bubbles">
    <span style="--i:11;"></span>
    <span style="--i:13;"></span>
    <span style="--i:24;"></span>
    <span style="--i:18;"></span>
    <span style="--i:15;"></span>
    <span style="--i:9;"></span>
    <span style="--i:11;"></span>
    <span style="--i:14;"></span>
    <span style="--i:26;"></span>
    <span style="--i:32;"></span>
    <span style="--i:18;"></span>
    <span style="--i:15;"></span>
    <span style="--i:12;"></span>
    <span style="--i:13;"></span>
    <span style="--i:19;"></span>
    <span style="--i:19;"></span>
    <span style="--i:13;"></span>
    <span style="--i:15;"></span>
    <span style="--i:12;"></span>
    <span style="--i:11;"></span>
    <span style="--i:14;"></span>
    <span style="--i:26;"></span>
    <span style="--i:32;"></span>
    <span style="--i:18;"></span>
    <span style="--i:13;"></span>
    <span style="--i:19;"></span>
    <span style="--i:19;"></span>
    <span style="--i:15;"></span>
    <span style="--i:13;"></span>
    <span style="--i:19;"></span>
    <span style="--i:19;"></span>
    <span style="--i:9;"></span>
    <span style="--i:1;"></span>
    <span style="--i:32;"></span>
    <span style="--i:18;"></span>
    <span style="--i:12;"></span>
    <span style="--i:13;"></span>
    <span style="--i:19;"></span>
<div class="row">
  <div class=" col-md-4"></div>
          <div style="width: 100%; border-radius: 20%; border-color: white; text-align: center; align-items: center;">
          <br>
          <br>
          
            <h2 style="color: #19E70F;">¡BIENVENIDO A MI PÁGINA WEB PERSONAL (Y CON TEMÁTICA GAMER :) !</h2>

            <br>
            <br>

            <img width="100%"  src="https://oyster.ignimgs.com/wordpress/stg.ign.com/2013/11/NFSRivals_111813_1600.jpg" alt="Need for speed">

          <div style="width: 60%; margin: 20px auto;  border-radius: 50px;color: white; overflow: hidden; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">

            <br>
            <br>

            <div style="width: 100%; padding: 20px; box-sizing: border-box; border-radius: 20px; color: white; border: 5px solid blue">
              <h2 style="margin-top: 0; color: #19E70F;">ME PRESENTO:</h2>
              <p>___________________________________________________________________________</p>
              <p> .</p>
              <p style="color: white;"> Soy Nicolás Miguel Murillo Cristancho, actualmente estoy estudiando el cuarto
                 semestre de ingeniería de sistemas en la universidad de los Andes.
                 Tengo mucho que contar acerca de mi. Si me quieres conocer mejor, ¡Sigue bajando!
              
              </p>
            </div>
            <br>
            <br>
            <div style="width: 100%; padding: 20px; box-sizing: border-box; border-radius: 20px; color: white; border: 5px solid blue">
              <h2 style="margin-top: 0; color: #19E70F;">MIS ESTUDIOS:</h2>
              <p>___________________________________________________________________________</p>
              <p>. </p>
              <p style="color: white;"> 
              He estudiado en muchas partes del país, desde pequeño siempre era bastante "viajero" por lo que conocí muchos lugares y 
              aprendí de muchas experiencias.
              </p>
<br>
              <p>
              A continuación listo los lugares en los que he estudiado:

              </p>
              <br>
              <ul>
                <li>Preescolar: No hice preescolar, yo voy  idrecto a lo importante :D</li>
                <br>
                <li>Primaria Inicial: Los primeros 3 años  los cursé en una vereda llamada "Capicha" Cerca a bogotá</li>
               <br>
               <li>Primaria intermedia: Cursé cuarto grado en un pueblo llamado "Silos"</li>
               <br>
                <li>Primaria Final: Los últimos años de primaria los cursé en mi natal pamplona, Norte de santander</li>
                <br>
                <li> Inicio de secundaria: Lo cursé en un publo llamado Chitagá, también en norte de santander</li>
                <br>
                <li>Final de secundaria: Volví a mi natal pamplona, donde terminé mi bachillerato</li>
                <br>
                <li>Actualidad: Estoy en Bogotá, cursando mis estudios superiores</li>
              </ul>
            </div>


            <br>
            <br>

            <div style="width: 100%; padding: 20px; box-sizing: border-box; border-radius: 20px; color: white; border: 5px solid blue">
              <h2 style="margin-top: 0; color: #19E70F;">MIS GUSTOS:</h2>
              <p>___________________________________________________________________________</p>
              <p>. </p>
              <p style="color: white;"> 
              No hay nada que disfrute más que mi tiempo libre, por lo que tengo una gran cantidad de hobbies, y sobre todo muy variados.
              </p>
<br>
              <p>
              A continuación listo los hobbies que más disfruto:

              </p>
              <br>
              <ul>
                <li>Boxeo: Me gustan mucho los deportes de lucha en general, creo que son la mejor manera de demostrar la fuerza que uno tiene y sentir adrenalina</li>
                <br>
                <img width="100%"  src="https://www.shutterstock.com/image-vector/boxers-fighting-ring-black-white-600nw-1662152674.jpg" alt="">
                <br>
                <li>Anime: Me encanta el anime y el manga, creo que su estilo de animación lo hace muy diferente a cualquier otro tipo de series</li>
               <br>
               <li>Videojuegos: Definitivamente mi hobbie favorito, las sagas de juegos que más me gustan son God of War y Need For Speed </li>
               <img width="100%" src="https://c4.wallpaperflare.com/wallpaper/265/867/808/video-games-god-of-war-god-of-war-2-god-of-war-3-god-of-war-4-kratos-god-of-war-ascension-god-of-wa-video-games-kratos-hd-art-wallpaper-preview.jpg" alt="">

               <br>
               <li>Atletismo: Correr es de las actividades más sanas que existen, pero sobre todo el velocismo, poner a prueba la velocidad máxima de uno siempre es interesante</li>

              </ul>
            </div>

            <br>
            <br>
            
            <div style="width: 100%; padding: 20px; box-sizing: border-box; border-radius: 20px; color: white; border: 5px solid blue">
              <h2 style="margin-top: 0; color: #19E70F;">MIS COMPETENCIAS:</h2>
              <p>___________________________________________________________________________</p>
              <img width="100%" src="https://e1.pxfuel.com/desktop-wallpaper/259/235/desktop-wallpaper-printed-circuit-board-electronic.jpg" alt="">
              <p>. </p>
              <p style="color: white;"> 
              Lo más útil que he aprendido sin duda alguna lo aprendí en la universidad, hay varios temas que destaco por sobre los demás:
              </p>
<br>
         
              <br>
              <ul>
                <li>Programación: saber que comunicandose con un pc se puede hacer literalmente cualquier cosa 
                  puede sonar como algo bastante loco, pero al aprender a programar, es fácil darse cuenta de lo 
                  útil y lo necesario que es
                </li>
                <br>
                
                <br>
                <li>Comunicación: Aunque parezca algo secundario en una ingeniería, es súmamente importante, saber exponer, hacerse entender
                  y entender a los demás, sin duda son habilidades necesarias para todos.
                </li>
               <br>
               <li> ¿Frontend?: Aún es una habilidad en progreso (como esta página) ¡seguiré mejorando! </li>
               
               <br>

              </ul>
            </div>

            <br>
            <br>
            
            <h2 style="color: #19E70F;">¡ESTO FUE TODO DE MOMENTO!</h2>
            <p> Tanto mi página como mi vida aún esperan muchas cosas y quedan demasiadas experiencias por vivir.</p>
            <p> ¡ADIÓS!</p>


          </div>
          </div>
<div class=" col-md-4"></div>
</div>

    <span style="--i:22;"></span>
    <span style="--i:26;"></span>
    <span style="--i:11;"></span>
    <span style="--i:24;"></span>
    <span style="--i:11;"></span>
    <span style="--i:19;"></span>
    <span style="--i:17;"></span>
    <span style="--i:31;"></span>
    <span style="--i:02;"></span>
    <span style="--i:09;"></span>
    <span style="--i:11;"></span>
    <span style="--i:22;"></span>
    <span style="--i:26;"></span>
    <span style="--i:11;"></span>
    <span style="--i:24;"></span>
    <span style="--i:19;"></span>
    <span style="--i:12;"></span>
    <span style="--i:16;"></span>
    <span style="--i:19;"></span>
    <span style="--i:22;"></span>
    <span style="--i:22;"></span>
    <span style="--i:26;"></span>
    <span style="--i:11;"></span>
    <span style="--i:1;"></span>
    <span style="--i:9;"></span>
    <span style="--i:12;"></span>
    <span style="--i:19;"></span>
    <span style="--i:24;"></span>
    <span style="--i:19;"></span>
    <span style="--i:12;"></span>
    <span style="--i:16;"></span>
    <span style="--i:19;"></span>
    <span style="--i:22;"></span>
    <span style="--i:22;"></span>
    <span style="--i:26;"></span>
    <span style="--i:12;"></span>
    <span style="--i:26;"></span>
    <span style="--i:09;"></span>
    <span style="--i:12;"></span>

  </div>
</div>



</body>